@model List<Category>;


<div style="display:none" class="firstpartial">
    <div class="container mt-5 bg-black">
        @foreach (var category in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">@category.Name</h5>
                    <p class="card-text">@category.Description</p>
                    <div class="btn-group" role="group" aria-label="Category Actions">
                        <a class="btn btn-info btn-sm" asp-controller="Data" 
                        asp-action="EditCategory" asp-route-id="@category.Id">Edit Category</a>
                        <a class="btn btn-danger btn-sm ms-lg-2" asp-controller="Data" 
                        asp-action="DeleteCategory" asp-route-id="@category.Id">Delete Category</a>
                        <a class="btn btn-success btn-sm ms-lg-2" asp-controller="Data" 
                        asp-action="AddProducts" asp-route-id="@category.Id">Add Products</a>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th style="width:150px">Name</th>
                                <th style="width:400px">Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < category.products.Count; i++)
                            {
                                var product = category.products[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@product.Name</td>
                                    <td>@product.Description</td>
                                    <td>@product.price</td>
                                    <td>@product.Quantity</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" asp-controller="Data" asp-action="EditProduct" asp-route-id="@product.Id">Edit Product</a>
                                        <a class="btn btn-danger btn-sm" asp-controller="Data" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete Product</a>
                                        <a class="btn btn-success btn-sm " asp-controller="Data" asp-action="Productdetails" asp-route-id="@product.Id">View Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    
</div>