@model products;


<div class="container mt-5 text-white">
    <h2 class="text-white">Edit Category</h2>

    <form method="post" asp-action="SaveEditProduct">
        <input type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="form-group">
            <label class="p-1" for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
        </div>
        <div class="form-group">
            <label class="p-1" for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
        </div>
        <div class="form-group">
            <label class="p-1" for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" value="@Model.price">
        </div>
        <div class="form-group">
            <label class="p-1" for="Quantity">Quantity</label>
            <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity">
        </div>

        <button type="submit" class="btn btn-danger btn-sm ms-lg-2">Save Changes</button>
    </form>
</div>